<div class="padre container-fluid" style="padding: 0">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <section class="portada">
                <div class="container-fluid">
                    <div class="row">
                        <div
                        class="col-lg-12 col-md-12 col-sm-12"
                        style="
                          text-align: center;
                          margin-top: 200px;
                          font-size: 40px;
                          color: aliceblue;
                        "
                      >
                        <p>Contáctanos</p>
                        <p>ESTAMOS CERCA DE TI</p>
                      </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <section class="">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <p style="
                  text-align: center;
                  font-size: 40px;
                  color: black;">Contáctanos</p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <hr style="background-color: orange; height: 1px; width: 30%;">
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center align-items-center text-center mt-3">
                    <div class="">
                        <div class="card text-white bg-primary mb-3" style="width: 100%;">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                              <h5 class="card-title">Primary card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center align-items-center text-center mt-3">
                    <div class="">
                        <div class="card text-white bg-danger mb-3" style="width: 100%;">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                              <h5 class="card-title">Danger card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="row mt-1">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center align-items-center text-center mt-3">
                    <div class="">
                        <div class="card bg-light mb-3" style="width: 100%;">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                              <h5 class="card-title">Light card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center align-items-center text-center mt-3">
                    <div class="">
                        <div class="card text-white bg-dark mb-3" style="width: 100%;">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                              <h5 class="card-title">Dark card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>

            </div>
          </section>
        </div>
      </div> 
      
      <div class="row mt-5">
          <div class="col-lg-12 col-md-12 col-sm-12">
              <section class="buscanos">
                  <div class="container">
                  <div class="row mt-6 justify-content-center align-items-center">
                      <div class="col-lg-5 col-md-5 col-sm-12 d-flex justify-content-center align-items-center text-center">
                            <p style="font-size: 40px;">Búscanos en FACEBOOK</p>
                      </div>
                      
                      <div class="col-lg-6 col-md-7 col-sm-12 d-flex justify-content-center align-items-center">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FProiinInmobiliaria&tabs=timeline&width=700&height=600&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="700" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>                    </div>
                  </div>
                </div>
              </section>
          </div>
      </div>
</div>
