<div class="padre container-fluid" style="padding: 0">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <section class="portada">
                <div class="container-fluid">
                    <div class="row">
                        <div
                        class="col-lg-12 col-md-12 col-sm-12"
                        style="
                          text-align: center;
                          margin-top: 200px;
                          font-size: 40px;
                          color: aliceblue;
                        "
                      >
                        <p>¿Quiénes somos?</p>
                      </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!--Segunda parte informacion-->
    <div class="row mb-5">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <section class="">
                <div class="container-fluid">
                    <div class="row justify-content-center text-center align-items-center">
                        <div
                        class="col-lg-6 col-md-6 col-sm-6"
                        style="
                          text-align: center;
                          margin-top: 100px;
                          font-size: 25px;
                          color: black;
                        "
                      >
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor saepe hic repellendus nesciunt? Laboriosam et saepe alias excepturi tenetur nemo dicta reiciendis vel. Odio reprehenderit numquam assumenda ut. Non, culpa.</p>
                      </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!--Misiion y vision-->

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <section class="">
                <div class="container-fluid" >
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 mision">
                            <div
                            class="card"
                            style="width: 100%; height: 80%;"
                          >
                            <img
                              class="card-img-top"
                              src="https://www.desenfunda.com/media/amasty/amoptmobile/magefan_blog/2020/03/page-01-4.jpeg"
                              alt="Card image"
                              style="width: 100%; height: 100%;"
                            />
                            <div
                              class="card-img-overlay d-flex justify-content-center align-items-center text-center"
                            >
                              <h4 class="card-title m1" style="color: white; font-size: 28px">
                                Misión
                              </h4>
                              <div class="info2" style="color: white;">texto a mostrar</div> 
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 vision">

                            <div
                            class="card"
                            style="width: 100%; height: 80%;"
                          >
                          
                            <img
                              class="desvanecer card-img-top"
                              src="https://concepto.de/wp-content/uploads/2019/12/telescopio-e1576107221750.jpg"
                              alt="Card image"
                              style="width: 100%; height: 100%;"
                            />
                            <div
                              class="card-img-overlay d-flex justify-content-center align-items-center text-center"
                            >
                              <h4 class="card-title v1" style="color: white; font-size: 28px">
                                Visión
                              </h4>
                              <div class="info" style="color: white;">texto a mostrar</div> 
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!--por que elegirnos-->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <p style="
                text-align: center;
                font-size: 40px;
                color: black;">¿Por qué elegirnos?</p>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <hr style="background-color: orange; height: 1px; width: 30%;">
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
                <img src="../../../assets/images/logo.png" alt="" width="200px" height="150px" style="background-color: grey;">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12">
                <p style="font-family: MontserratBold; font-size: 20px;">hola</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ullam tempora non fugit? Ad, eveniet reprehenderit! Placeat ad sint vero quae quis alias pariatur incidunt laboriosam rerum? Laborum, dolorem tempore.</p>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
                <img src="../../../assets/images/logo.png" alt="" width="200px" height="150px" style="background-color: grey;">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12">
                <p style="font-family: MontserratBold; font-size: 20px;">hola</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ullam tempora non fugit? Ad, eveniet reprehenderit! Placeat ad sint vero quae quis alias pariatur incidunt laboriosam rerum? Laborum, dolorem tempore.</p>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
                <img src="../../../assets/images/logo.png" alt="" width="200px" height="150px" style="background-color: grey;">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12">
                <p style="font-family: MontserratBold; font-size: 20px;">hola</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ullam tempora non fugit? Ad, eveniet reprehenderit! Placeat ad sint vero quae quis alias pariatur incidunt laboriosam rerum? Laborum, dolorem tempore.</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>  

    <!--mapa-->

    <div class="row mt-5">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <p style="
                text-align: center;
                font-size: 40px;
                color: black;">Ubicación</p>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <hr style="background-color: orange; height: 1px; width: 30%;">
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <p style="
                text-align: center;
                font-size: 25px;
                color: black;">México 200, Shiniñuu, Pinotepa Nacional, Oax.</p>
              </div>
            </div>
            <div class="row justify-content-center align-items-center mt-5">
              <div class="col-lg-12 d-flex justify-content-center align-items-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d1140.2764510722313!2d-98.05425446057531!3d16.34204997182997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x8427372b306de67f%3A0x3105fcdacac9f31e!2sM%C3%A9xico%20200%2C%20Shini%C3%B1uu%2C%20Pinotepa%20Nacional%2C%20Oax.!3m2!1d16.342037899999998!2d-98.0540865!5e0!3m2!1ses!2smx!4v1614106433297!5m2!1ses!2smx" width="800" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div> 

    <div class="row mt-5">
      <div class="col-lg-12 col-md-12 col-sm-12">
          <section class="servicios">
              <div class="row justify-content-center align-items-center text-center">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <p
                    style="font-size: 40px; font-family: Montserrat;"
                  >
                    Desarrollos concluidos
                  </p>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <hr style="background-color: orange; height: 1px; width: 30%;">
                  </div>
              </div>
              <div class="row imgs mt-5 mb-5">
                <div class="col-12 im">
                  <div
                    id="carouselExampleControls"
                    class="carousel slide"
                    data-ride="carousel"
                  >
                    <!-- Controles -->
                    <div class="carousel-controls">
                      <a
                        class="left carousel-control-prev"
                        href="#carouselExampleControls"
                        role="button"
                        data-slide="prev"
                      >
                        <i
                          style="color: darkorange; font-size: 35px"
                          class="fas fa-arrow-left"
                          aria-hidden="true"
                        ></i>
                      </a>
                      <a
                        class="right carousel-control-next"
                        href="#carouselExampleControls"
                        role="button"
                        data-slide="next"
                      >
                        <i
                          style="color: darkorange; font-size: 35px"
                          class="fas fa-arrow-right"
                          aria-hidden="true"
                        ></i>
                      </a>
                    </div>
    
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div
                          class="row justify-content-center"
                          style="background-color: white"
                        >
                            <div class="card" style="width: 18rem;">
                                <img src="https://www.eadic.com/wp-content/uploads/2017/03/arquitecto-1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                      </div>
                      <!--aqui-->
    
                      <div class="carousel-item">
                        <div
                          class="row justify-content-center"
                          style="background-color: white"
                        >
                          <div class="card" style="width: 18rem;">
                            <img src="https://www.eadic.com/wp-content/uploads/2017/03/arquitecto-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        </div>
                      </div>

                      <div class="carousel-item">
                        <div
                          class="row justify-content-center"
                          style="background-color: white"
                        >
                          <div class="card" style="width: 18rem;">
                            <img src="https://www.eadic.com/wp-content/uploads/2017/03/arquitecto-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        </div>
                      </div>

                      <div class="carousel-item">
                        <div
                          class="row justify-content-center"
                          style="background-color: white"
                        >
                          <div class="card" style="width: 18rem;">
                            <img src="https://www.eadic.com/wp-content/uploads/2017/03/arquitecto-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some hola example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        </div>
                      </div>

                    </div>
    
                    <!-- Controles -->
                    <div class="carousel-controls">
                      <a
                        class="left carousel-control-prev"
                        href="#carouselExampleControls"
                        role="button"
                        data-slide="prev"
                      >
                        <i
                          style="color: darkorange; font-size: 35px"
                          class="fas fa-arrow-left"
                          aria-hidden="true"
                        ></i>
                      </a>
                      <a
                        class="right carousel-control-next"
                        href="#carouselExampleControls"
                        role="button"
                        data-slide="next"
                      >
                        <i
                          style="color: darkorange; font-size: 35px"
                          class="fas fa-arrow-right"
                          aria-hidden="true"
                        ></i>
                      </a>
                    </div>
    
                    <!-- carusel -->
                  </div>
                </div>
              </div>
          </section>
      </div>
  </div>

    <!--por que elegirnos-->
</div>